* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #e3e4e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
body p {
  position: absolute;
  bottom: 2%;
  color: #464648;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
}
body p a {
  color: #464648;
}
.container {
  width: 25rem;
  height: 40rem;
  background-color: #f6f5fa;
  border: 3px solid #f6f5fa;
  border-radius: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}
.display {
  display: flex;
}
form {
  margin-bottom: 3rem;
  position: relative;
}
form input {
  background-color: #f6f5fa;
  border: 3px solid #f6f5fa;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  outline: none;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}
form button {
  display: none;
}
form .msg {
  position: absolute;
  left: -1.5rem;
  width: 30rem;
  top: -3rem;
  font-size: 1.5rem;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}
form input::placeholder {
  font-size: 1.4rem;
}
.img {
  width: 27rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 13rem;
}
.img img {
  width: 7rem;
  height: auto;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.7);
}

.location {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: #464648;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}
.info {
  position: absolute;
  bottom: 4rem;
  color: #464648;
  left: 3rem;
}
.temp {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.desc {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
}
.day {
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
  max-width: 10rem;
  overflow: hidden;
  max-height: 1.5rem;
  position: relative;
}
.day span {
  position: absolute;
  top: 0;
  left: 2.9rem;
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
}
